{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/paciente/patologia.css') }}"/>
{% endblock %}

{% block iconoBanner %}bug{% endblock %}
{% block tituloBanner %}Patologías{% endblock %}
{% block title %}Podonet - Patologías{% endblock %}

{% block body %}
    <h1>Nueva Patologia</h1>

    {{ form(form) }}

    <span>
        <a class="btn btn-default" href="{{ path('admin_patologia') }}">
            <i class="fa fa-arrow-left"></i> Volver
        </a>
    </span>
{% endblock %}
