{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Patologia creation</h1>

    {{ form(form) }}

    <span>
        <a class="btn btn-default" href="{{ path('admin_patologia') }}">
            <i class="fa fa-arrow-left"></i> Volver
        </a>
    </span>
{% endblock %}
