{% extends "::base.html.twig" %}

{% block title %}AppBundle:AdminUsuario:editarUsuario{% endblock %}

{% block iconoBanner %}users{% endblock %}
{% block tituloBanner %}Administración de Usuarios{% endblock %}

{% block body %}
<h1>Welcome to the AdminUsuario:editarUsuario page</h1>
{% endblock %}
