{% extends "::base.html.twig" %}

{% block title %}AppBundle:AdminUsuario:administrarUsuarios{% endblock %}

{% block body %}
<h1>Welcome to the AdminUsuario:administrarUsuarios page</h1>
{% endblock %}
