{% extends "::base.html.twig" %}
{% block tituloBanner %}Agenda{% endblock %}
{% block iconoBanner %}calendar{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/agenda/agenda.css') }}"/>
{% endblock %}

{% block title %}Agenda{% endblock %}

{% block body %}

    <div class="list-group menuIzquierda">
        <a class="list-group-item active">
            <i class="fa fa-gear fa-2x" ></i>  <span class="tituloPanel"></span>
        </a>
        <div class="well containerMenuIzquierdaLinks">
            <a  class="list-group-item active ">
                Citas
            </a>
            <a href="" class="list-group-item">Buscar Cita</a>
            <a href="{{ path('nueva_cita') }}" class="list-group-item">Crear Cita</a>
            <br><br>
            <a  class="list-group-item active cabeceraPacientesMenuIzq">
                Pacientes
            </a>
            <a href="" class="list-group-item">Buscar Paciente</a>
            <a href="" class="list-group-item">Crear Paciente</a>
            <br><br>
            <a  class="list-group-item active">
                Agenda
            </a>
            <a href="" class="list-group-item">Configurar Agenda</a>
            <a href="" class="list-group-item">Informe del día</a>
            <a href="" class="list-group-item">Informe del mes</a>
        </div>


        </div>
    </div>

{% endblock %}
