{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/usuario/perfil/ayuda.css') }}"/>
{% endblock %}

{% block title %}AppBundle:Usuario:ayudaUsuario{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <div id="indiceAyuda" class="list-group "
                 data-spy="affix" data-offset-top="300" data-offset-bottom="50"
                    >
                <a href="#" class="list-group-item active  ">
                    <i class="fa fa-book fa-2x" ></i> <span class="tituloPanel">&Iacute;ndice de secciones</span>
                </a>

                <a href="#" class="list-group-item"  >
                    <strong>Dashboard: </strong> <em>Vista principal de la aplicaci&oacute;n, ¿qu&eacute; se puede hacer?. </em>
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Gestionar Agenda: </strong><em>Gesti&oacute;n de la agenda de la UDA, personalizaci&oacute;n e informes </em>
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Gestionar Usuarios: </strong><em>Mantenimiento de los usuarios de la aplicaci&oacute;n </em>
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Gestionar Pacientes: </strong><em>Acciones sobre informaci&oacute;n de pacientes; anamnesis, diagn&oacute;sticos, historias complementarias... </em>
                </a>
                <a href="#" class="list-group-item"  >
                    <strong>Mi usuario: </strong><em>Funciones sobre la informaci&oacute;n de tu usuario en la aplicaci&oacute;n, datos personales, contacto, foto, perfil... </em>
                </a>

            </div>
        </div>
        <div class="col-lg-8">
            <div id="contenidoDashboard" >
                <h2>1. Dashboard</h2>
                <div class="well">
                    Dashboard es el panel principal de la aplicaci&oacute;n. Es el punto de entrada despu&eacute;s de la pasarela de logueo.
                    Desde &eacute;l se pueden acceder a los distintos puntos de la web en funci&oacute;n del rol indicado en el usuario autenticado.
                </div>
                <h4>1.1 Secretar&iacute;a</h4>
                Acciones sobre la agenda
                <ul>
                    <li><strong>Agenda: </strong></li><em>Acceso a la vista de Agenda, desde ella se podr&aacute;n añadir citas, pacientes, consultar y editar d&iacute;as... etc.</em>
                    <li><strong>Ajustes Agenda: </strong></li>Permite modificar los par&aacute;metros con los que se genera la agenda, esto es la gesti&oacute;n de gabinetes.
                </ul>
                <h4>1.2 Podolog&iacute;a</h4>
                Acciones recogidas por los pod&oacute;logos.
                <ul>
                    <li><strong>Buscar Paciente: </strong></li><em>Permite una b&uacute;squeda r&aacute;pida y din&aacute;mica de todos los pacientes de la UDA</em>
                    <li><strong>Nuevo Paciente: </strong></li><em>Dirige al proceso de creaci&oacute;n de Paciente donde se rellenar&aacute;n datos b&aacute;sicos de &eacute;ste para as&iacute; poder usarlo en la gesti&oacute;n de agenda como en el proceso de creaci&oacute;n de la historia general</em>
                </ul>
                <h4>1.3 Administraci&oacute;n</h4>
                Funciones disponibles para la administraci&oacute;n del sitio.
                <ul>
                    <li><strong>Administraci&oacute;n de usuarios: </strong></li><em>Panel de gesti&oacute;n de los usuarios que hacen uso de la web, esto incluye todos los tipos de roles; estudiante, PIR, secretario, pod&oacute;logo y administrador. </em>
                    <li><strong>Nuevo Usuario: </strong></li><em>Permite la creaci&oacute;n de un nuevo usuario en la aplicaci&oacute;n, es posible editar ciertos aspectos de seguridad para el usuario adem&aacute;s de otros datos</em>
                    <li><strong>Consutar logs: </strong></li><em>Dirige a la secci&oacute;n de Logs, donde se pueden consultar las acciones realizadas por los usuarios en la aplicaci&oacute;n.</em>
                </ul>

            </div>
            <div id="contenidoGestionarAgenda" >
                <h2>2. Gestionar Agenda</h2>
                <div class="well">
                    La gesti&oacute;n de la agenda permite el mantenimiento de las citas para la UDA. Es un sistema robusto que permitir&aacute; asignar Pacientes a citas junto con un motivo de consulta adem&aacute;s de una amplia customizaci&oacute;n de lo que la agenda muestra.
                </div>
                <h4>2.1 Agenda</h4>
                La agenda es un m&oacute;dulo externo implementado para la f&aacute;cil gesti&oacute;n de citas en la unidad pod&oacute;logica. En ella se pueden consultar desglosadamente todas las actividades que encontraremos en el d&iacute;a, semana, mes...
                Adem&aacute;s es interactuable pues se podr&aacute;n crear citas de manera din&aacute;mica con un simple click.
                <br><ul>
                    <li><strong>Crear Citas: </strong></li><em>Para crear una cita, simplemente necesitaremos pinchar sobre el d&iacute;a que deseemos y se nos mostrar&aacute; una nueva sita de la agenda desglosada por horas, seleccionaremos entonces la franja horaria que veamos correcta.
                        Rellenando los datos que la ventana emergente ofrece, podremos generar una nueva cita que veremos al momento en nuestra agenda. Ser&aacute; necesario rellenar: </em>
                        <ul>
                            <li>Paciente</li>
                            <li>Motivo de la consulta</li>
                            <li>Fecha y Hora (se encontraran rellenadas por defecto)</li>
                            <li>Gabinete (gabinete seleccionado previamente en la lista de gabinetes)</li>
                        </ul><br>
                    <li><strong>Filtrando por gabinete: </strong></li>En la parte superior de la agenda encontramos la lista de gabinetes, pulsando sobre los botones filtraremos la agenda para poder localizar r&aacute;pidamente las citas que est&aacute;n asociadas a dichos gabinetes. Adem&aacute;s al seleccionar un gabinete, en nuestro pr&oacute;ximo proceso de creaci&oacute;n de cita, estaremos indicando que la cita se realizar&aacute; en dicho gabinete.
                </ul>

            </div>
        </div>
    </div>



{% endblock %}
