{% extends "::base.html.twig" %}

{% block title %}AppBundle:Paciente:crearHistoriaComplementaria{% endblock %}

{% block body %}
<h1>Welcome to the Paciente:crearHistoriaComplementaria page</h1>
{% endblock %}
