<ul class="nav nav-pills nav-justified">
    <li role="presentation" {% if opcion=="inicio" %}class="active" {% endif %}><a href="{{ path('dashboard_paciente',{id:paciente.idPaciente}) }}"><i class="fa fa-home"></i>  Inicio</a></li>
    <li role="presentation" {% if opcion=="hojageneral" %}class="active" {% endif %}><a href="{{ path('consultar_historia_general',{idPaciente:paciente.idPaciente}) }}">Historia General</a></li>
    <li role="presentation" {% if opcion=="historiacomplementaria" %}class="active" {% endif %}><a href="{{ path('consultar_historia_complementaria',{idPaciente:paciente.idPaciente}) }}">Historia Complementaria</a></li>
    <li role="presentation" {% if opcion=="diagnostico" %}class="active" {% endif %}><a href="{{ path('consultar_diagnostico',{idPaciente:paciente.idPaciente}) }}">Diagn&oacute;stico</a></li>
    <li role="presentation" {% if opcion=="historiaortopodologica" %}class="active" {% endif %}><a href="#">Historia Ortopodol&oacute;gica</a></li>
</ul>