<div class="row"   ng-controller="DAController as DACtrl" ng-init="this.init()">
    <div class="list-group bloqueDatosAnamnesis">
        <a class="list-group-item active  ">
            <i class="fa fa-stethoscope fa-2x" ></i>  <span class="tituloPanel">&nbsp;Datos de Anamnesis</span>
            <span class="pull-right">
                <button type="button" class="btn btn-default" ng-show="expandido" ng-click="setExpandido(false)">
                    <i class="fa fa-compress"></i>
                </button>
                <button type="button" class="btn btn-default" ng-hide="expandido" ng-click="setExpandido(true)">
                    <i class="fa fa-expand"></i>
                </button>
            </span>
        </a>

        <div class="well containerFormularioDatosAnamnesis" ng-show="expandido">
            <form id="formularioDatosAnamnesis" name="formularioDatosPersonales" ng-submit="submitFormulario()">

                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning" ng-hide="editando || dspall.length<1 || creando" ng-click="setEditando(true)"><i class="fa fa-edit"></i> &nbsp; Editar</button>
                        <button type="button" class="btn btn-danger" ng-show="editando || creando" ng-click="cancelarAction()"><i class="fa fa-minus-circle"></i> &nbsp; Cancelar</button>
                        <button type="submit" class="btn btn-success" ng-show="editando || creando"><i class="fa fa-check"> &nbsp; Confirmar</i></button>
                        <button type="button" class="btn btn-primary" ng-hide="editando || creando" ng-click="setCreando(true)" ><i class="fa fa-plus-circle"></i>&nbsp;<i class="fa fa-file-o"></i> &nbsp; Nuevo</button>
                        <button type="button" class="btn btn-primary" ng-hide="editando || creando" ng-click="setCreando(true,true)" ><i class="fa fa-plus-circle"></i>&nbsp;<i class="fa fa-files-o"></i> &nbsp; Nuevo</button>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <i>Hora</i>
                        <select class="form-control selectFechaDA " ng-model="datosAnamnesis"   ng-hide="editando || anamnesisAll.length<1 || creando"  ng-options="datosAnamnesis.fecha|date:'hh:mm' for datosAnamnesis in datosAAll|filter:perteneceAnamnesis track by datosAnamnesis.idAnamnesis "></select>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <b>Fecha</b>
                        <select class="form-control" ng-model="anamnesisActual"  ng-hide="editando || anamnesisAll.length<1 || creando" ng-init="anamnesisAll[0]" ng-options="anamnesis.fecha|date for anamnesis in anamnesisAll track by anamnesis.id_anamnesis "></select>
                    </div>
                </div>

                <hr/>
                <fieldset ng-disabled="!editando && !creando">
                <div class="row"><div class="col-md-6"><h3>Dolor</h3></div></div>
                <div class="row">
                    <div class="col-md-2">

                        <label for="tipodolor">Tipo de dolor</label>
                        <select ng-model="datosAnamnesis.tipoDolor" class="form-control" name="tipodolor" required>
                            <option value="punzante">Punzante</option>
                            <option value="intermitente">Intermitente</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="intensidad">Intensidad</label>
                        <input type="range" min="0" max="10" ng-model="datosAnamnesis.intensidad" name="intensidad" required/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-2"><b>Formula Metatarsal:</b></div>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input type="radio" name="formulaMetatarsal" ng-model="datosAnamnesis.formulaMetatarsal" id="inlineRadio1" value="egipcia"> Egipcia
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="formulaMetatarsal" ng-model="datosAnamnesis.formulaMetatarsal" id="inlineRadio2" value="griega"> Griega
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="formulaMetatarsal" ng-model="datosAnamnesis.formulaMetatarsal" id="inlineRadio3" value="cuadrada"> Cuadrada
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <mypaint ident="1" tipo="dolor" ancho="100" alto="200"   namedata="imagenDolor"></mypaint>
                    </div>
                    <div class="col-md-6">
                        <mypaint ident="2" tipo="dolor" ancho="100" alto="200"  namedata="imagenDolor2"></mypaint>

                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-2"><b>Formula Digital:</b></div>
                    <div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" name="formulaDigital" ng-model="datosAnamnesis.formulaDigital" id="inlineRadio1" value="indexplus"> Index Plus
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="formulaDigital" ng-model="datosAnamnesis.formulaDigital" id="inlineRadio2" value="indexminus"> Index Minus
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="formulaDigital" ng-model="datosAnamnesis.formulaDigital" id="inlineRadio3" value="indexplusminus"> Index Plus - Minus
                        </label>
                    </div>
                </div>
                    <br/><hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-danger" ng-show="editando || creando" ng-click="cancelarAction()"><i class="fa fa-minus-circle"></i> &nbsp; Cancelar</button>
                            <button type="submit" class="btn btn-success" ng-show="editando || creando"><i class="fa fa-check"> &nbsp; Confirmar</i></button>
                        </div>
                    </div>


            </fieldset>
            </form>
        </div>

    </div>

</div>