{% extends "::base.html.twig" %}

{% block title %}AppBundle:HistoriaGeneral:crearDatosPersonales{% endblock %}

{% block body %}
<h1>Welcome to the HistoriaGeneral:crearDatosPersonales page</h1>
{% endblock %}
