{% extends "::base.html.twig" %}

{% block title %}AppBundle:HistoriaGeneral:editarDatosPersonales{% endblock %}

{% block body %}
<h1>Welcome to the HistoriaGeneral:editarDatosPersonales page</h1>
{% endblock %}
