{% extends "::base.html.twig" %}

{% block title %}AppBundle:HistoriaGeneral:crearDatosSemipermanentes{% endblock %}

{% block body %}
<h1>Welcome to the HistoriaGeneral:crearDatosSemipermanentes page</h1>
{% endblock %}
