{% extends "::base.html.twig" %}

{% block title %}AppBundle:HistoriaGeneral:editarAnamnesis{% endblock %}

{% block body %}
<h1>Welcome to the HistoriaGeneral:editarAnamnesis page</h1>
{% endblock %}
