{% extends "::base.html.twig" %}

{% block title %}AppBundle:HistoriaGeneral:editarDatosSemipermanentes{% endblock %}

{% block body %}
<h1>Welcome to the HistoriaGeneral:editarDatosSemipermanentes page</h1>
{% endblock %}
