{% extends "::base.html.twig" %}

{% block title %}AppBundle:Paciente:consultarHistoriaComplementaria{% endblock %}

{% block body %}
<h1>Welcome to the Paciente:consultarHistoriaComplementaria page</h1>
{% endblock %}
