{% extends "::base.html.twig" %}

{% block title %}AppBundle:Paciente:eliminarHistoriaComplementaria{% endblock %}

{% block body %}
<h1>Welcome to the Paciente:eliminarHistoriaComplementaria page</h1>
{% endblock %}
